@media (max-width:1440px) {
    .section2 .sec2-bottomCard {
        gap: 20px;
    }
    .newsSec-card .cont {
        padding: 30px 25px 25px;
    }
    .newsSec-card .cont h6 {
        font-size: 36px;
        padding-bottom: 15px;
    }
    .newsSection .newsSec-hd {
        padding: 0 5% 60px;
    }
    .mapSection .mapSec-hd {
        padding: 0 5%;
    }
    .videoSection {
        padding: 100px 2% 110px;
    }
    .aboutSection .aboutSec-main {
        padding-right: 2%;
        padding-left: 2%;
        gap: 30px;
    }
    .section1 .sec1-bottom {
        padding-right: 2%;
        padding-left: 2%;
        padding-top: 60px;
    }
    .section1 .sec1-cont {
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 30px;
    }
    .section1 .sec1-hd span {
        font-size: 280px;
    }
    .mn-hd h6 {
        font-size: 52px;
    }
    .mn-hd h5 {
        gap: 15px;
        font-size: 36px;
    }
    .mn-hd h4 {
        font-size: 62px;
    }

    .section1 .sec1-hd h6 {
        padding-top: 15px;
    }
    .section1 .sec1-bottom .col-md-4 {
        gap: 60px;
    }
    .aboutSection .aboutSec-main .aboutSec-hd h5 {
        padding-bottom: 15px;
    }
    .aboutSection .aboutSec-main .aboutSec-contCard p {
        font-size: 24px;
        line-height: 1.3;
        padding-top: 26px;
    }

}

@media (max-width:1200px) {
    img {
        max-width: 100%;
        height: auto;
    }

    .menu-Bar {
        display: block;
        top: 0px;
    }

    .menuWrap.open {
        display: flex;
        left: 0px;
    }

    .menuWrap {
        position: fixed;
        left: -210%;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #ff8000;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        transition: all 0.4s ease;
        z-index: 3;
        width: 100vw;
    }

    ul.menu li {
        display: block;
    }

    ul.menu li a {
        margin-bottom: 10px;
        padding: 0;
        display: block;
        text-align: center;
        margin-bottom: 15px;
        padding-right: 0px;
        margin-right: 0px;
        color: #fff;
        font-size: 15px;
        text-transform: capitalize;
    }

    .logo img {
        max-width: 50%;
    }

    .container {
        position: relative;
    }

    header .header-top {
        display: none;
    }

    header .main-header ul.menu>li {
        display: block;
        padding: 0px;
    }

    header .main-header ul.menu>li a {
        color: #fff;
        padding: 0px;
    }

    header .main-header ul.menu>li a:before {
        display: none;
    }
}

@media (max-width:824px) {}